processed_data/
PCAWG_tools_simulated_example/sim_*/
PCAWG_tools_simulated_example/CliP/
PCAWG_tools_simulated_example/CTPsingle/
PCAWG_tools_simulated_example/pyclone-vi/
PCAWG_tools_simulated_example/Sclust/
PCAWG_tools_simulated_example/dpclust/
PCAWG_tools_simulated_example/Sclust/
PCAWG_tools_simulated_example/phylowgs/
PCAWG_tools_simulated_example/PhylogicNDT/

.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
